body {
    background-color: lightskyblue;
    color: #333;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: white;
    color: #ffffff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 40px;
}

.logo img {
    max-height: 50px;
}

.head a.button {
    background-color: transparent;
    color: lightskyblue;
    border: 2px solid lightskyblue;
    border-radius: 5px;
    font-size: 16px;
    text-decoration: none;
    padding: 10px 20px;
    margin-left: 10px;
}

.head a.button:hover {
    background-color: lightskyblue;
    color: white;
}


h1 {
    font-size: 48px;
    margin: 0;
}


.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: calc(100vh - 70px);
}

h2 {
    font-size: 36px;
    margin-top: 0;
}

p {
    font-size: 18px;
    line-height: 1.5;
    margin: 20px 0;
    text-align: center;
    max-width: 600px;
}

button {
    background-color: green;
    border: none;
    color: #FFF;
    font-size: 20px;
    padding: 10px 30px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #003F87;
}

.wishlist-section {
    background-color: #f4f4f4;
    padding: 50px;
    text-align: center;
}

.wishlist-section h2 {
    font-size: 30px;
    margin-bottom: 20px;
    color: #333;
}

.wishlist-section p {
    font-size: 17px;
    margin-bottom: 30px;
    color: #555;
}

.wishlist-section button {
    background-color: #333;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 18px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.wishlist-section button:hover {
    background-color: #555;
}

.logoname{
    color: lightskyblue;
    margin-right: 800px;
}
