body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background: lightskyblue;
}

header {
    background-color: white;
    color: black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 40px;
}

.logo img {
    max-height: 50px;
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
}

nav ul li {
    margin-right: 20px;
}

nav ul li a {
    color: black;
    text-decoration: none;
}

main {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}

#add-item {
    background-color: white;
    padding: 20px;
    margin-bottom: 20px;
}

#add-item h2,
#wishlist h2 {
    margin-top: 0;
}

#add-item label {
    display: block;
    margin-bottom: 10px;
}

#add-item input,
#add-item textarea {
    display: block;
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
    box-sizing: border-box;
}

#add-item button[type="submit"] {
    background-color: #333;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}

#add-item button[type="submit"]:hover {
    background-color: #555;
}

#wishlist ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

#wishlist li {
    background-color: whitesmoke;
    padding: 20px;
    margin-bottom: 20px;
    display: flex;
    flex-direction: row;
}

table {
    border-collapse: collapse;
    width: 100%;
    margin: 20px 0;
    font-size: 1.2em;
    font-family: sans-serif;
    border: 1px solid #ddd;
}

th {
    padding: 12px 15px;
    background-color: #333;
    color: #fff;
    text-align: left;
}


#wishlist h2 {
    margin-top: 0;
    color: #333;
    font-size: 2em;
    text-align: center;
    margin-bottom: 20px;
}

.actions {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.share-button {
    background-color: #333;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    display: block;
    margin: 0 auto;
}

.logoNameIndex{
    color: lightskyblue;
    margin-right: 500px;
}

.userlog{
    color: lightskyblue;
    margin-right: 15px;
}




