body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background: rgb(70,178,236);
    background: linear-gradient(0deg, rgba(70,178,236,1) 0%, rgba(255,255,255,1) 100%);
}

header {
    background-color: white;
    color: #ffffff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 40px;
}

.logo img {
    max-height: 50px;
}


.header-right {
    display: flex;
    align-items: center;
}


.logoname {
    display: inline-block;
    margin-left: 10px;
    color: lightskyblue;
    font-size: 48px;
}

nav {
    margin-left: auto;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

nav ul li {
    margin-right: 20px;
}

nav ul li button {
    background-color: transparent;
    color: lightskyblue;
    border: 2px solid lightskyblue;
    padding: 10px 20px;
    border-radius: 5px;
    font-weight: bold;
    cursor: pointer;
}

nav ul li button:hover {
    background-color: lightskyblue;
    color: white;
}


.userlog, h1 {
    font-size: 17px;
    font-family: Arial, sans-serif;
    color: black;
}

h1 {
    margin: 0;
    font-size: 17px;
    font-family: Arial, sans-serif;

}

main {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}

#add-item {
    background-color: white;
    padding: 20px;
    margin-bottom: 20px;
}

#add-item h2,
#wishlist h2 {
    margin-top: 0;
}

#add-item label {
    display: block;
    margin-bottom: 10px;
}

#add-item input,
#add-item textarea {
    display: block;
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
    box-sizing: border-box;
}

#add-item button[type="submit"] {
    background-color: green;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}

#add-item button[type="submit"]:hover {
    background-color: #555;
}

#wishlist ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

#wishlist li {
    background-color: whitesmoke;
    padding: 20px;
    margin-bottom: 20px;
    display: flex;
    flex-direction: row;
}

table {
    border-collapse: collapse;
    width: 100%;
    margin: 20px 0;
    font-size: 1.2em;
    font-family: sans-serif;
    border: 1px solid #ddd;
}

th {
    padding: 12px 15px;
    background-color: #333;
    color: #fff;
    text-align: left;
}


#wishlist h2 {
    margin-top: 0;
    color: #333;
    font-size: 2em;
    text-align: center;
    margin-bottom: 20px;
}

.actions {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.btn-deleteOne {
    background-color: red;
    color: white;
    border: 1px solid black;
    border-radius: 2px;
    padding: 7px 10px;
    margin-right: 10px;
    cursor: pointer;
    text-decoration: none;
    font-size: 0.7em;
}

.btn-updateOne {
    background-color: orange;
    color: white;
    border: 1px solid black;
    border-radius: 2px;
    padding: 7px 10px;
    margin-right: 10px;
    cursor: pointer;
    text-decoration: none;
    font-size: 0.7em;
}

.btn-deleteOne:active {
    background-color: #bd2130;
}

.btn-updateOne:active {
    background-color: #1e90ff;
}
.share-button {
    background-color: #333;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    display: block;
    margin: 0 auto;
}

