body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: rgb(70,178,236);
    background: linear-gradient(0deg, rgba(70,178,236,1) 0%, rgba(255,255,255,1) 100%);
    font-family: Arial, sans-serif;

}
form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

input[type="text"], input[type="password"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 3px;
    border: 1px solid #ccc;
}

input[type="submit"] {
    background-color: green;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: green;
}

a {
    text-decoration: none;
}

button{
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 3px;
    border: 1px solid #ccc;
    background-color: green;
    color: white;
    cursor: pointer;

}
.login{
   size: 1000px;
}

.login h1 {
    display: inline-block;
    padding: 10px 20px;
    border-radius: 30px;
    border: 2px solid white;
    color: white;
    background-color: lightskyblue;
    cursor: pointer;
}

.login h1:hover {
    background-color: lightskyblue;
    color: white;
}
