body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: deepskyblue;
}

form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;


}
.login{

   size: 1000px;
}
