<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Wishlist</title>
    <link rel="stylesheet" href="home.css">
</head>
<body>
<header>

    <div class="logo">
        <img src="https://media.moddb.com/images/members/5/4361/4360870/zuqwgy86xsa41_1.jpg" alt="Item Image" >
        </div>

    <div class="buttons">
        <a href="/loginAccount" class="button">Log In</a>
        <a href="/createAccount" class="button">Sign Up</a>
    </div>
</header>
<div class="container">
    <h2>All your wishes at one place</h2>
    <p>The wish cloud makes it easy for you to save and share all your wishes with friends and family</p>
    <button>Get Started</button>
</div>
</body>
</html>