<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>WishCloud</title>
    <link rel="stylesheet" href="index.css">



</head>
<body>


    <header>
        <div class="logo">
            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQNocHxejDfkpOeBUk7LXNrZULLitzuQzn8yQ&usqp=CAU" alt="Item Image">
        </div>
        <h1 class="logoNameIndex">WishCloud</h1>
        <div class="header-right">
            <p class="userlog">Logged in as:</p>
            <h1 th:text="${username}"></h1>
            <br>
            <nav>
                <ul>
                    <li>
                        <button type="button" onclick="location.href='/'">Logout</button>
                    </li>
                </ul>
            </nav>
        </div>
    </header>


<main>
    <section id="add-item">
        <h2>Add Item to Wishlist</h2>
        <form action="/createNewUser" method="post">

            <input type="hidden" name="username" th:value="${username}">
            <input type="hidden" name="wishlist_title">
            <label>Product name:</label>
            <input type="text" name="product_name" required>

            <label>price:</label>
            <input type="number" name="product_price" required>

            <label>Product Link:</label>
            <input type="text" name="product_link">
            <button type="submit">Add Item</button>
        </form>
    </section>
</main>


<table>
    <thead>
    <tr>

        <th>Product Name</th>
        <th>Product Price</th>
        <th>Product Link</th>
        <th>Actions</th>
    </tr>
    </thead>
    <tbody>
    </a>
    <a th:href="@{/shareWishlist}"><button class="share-button">Share Wishlist</button>


    </a>
    <tr th:each="wishlist: ${wishlists}">
        <td th:text="${wishlist.product_name}"></td>
        <td th:text="${wishlist.product_price}"></td>
        <td><a th:href="${wishlist.product_link}" target="_blank" th:text="${wishlist.product_link}">Link</a></td>

        <td>

  <a th:href="@{'/deleteOne/'+${wishlist.wishlists_id}}">
                <button class="btn-deleteOne" id="btn-deleteOne">Delete wish</button>
            </a>
            <a th:href="@{'/update/'+${wishlist.wishlists_id}}">

                <button class="btn-updateOne" id="btn-updateOne"> Change wish </button>
            </a>

    </tbody>
</table>


</body>
</html>