<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="login.css">


</head>
<body>

<div class="login">
<h1>Login Page</h1>


<form method="post">
    <label for="username">Username:</label>
    <input type="text" id="username" name="username"><br><br>
    <label for="password">Password:</label>
    <input type="password" id="password" name="password"><br><br>
    <input type="submit" value="Login">
</form>

    <button onclick="window.location.href='signup.html'">Create an Account</button>


    <p th:text="${lol}">
</div>
</body>
</html>