<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
  <meta charset="UTF-8">
  <title>Wishlist</title>
</head>
<body>
<h1>Wishlist</h1>
<table>
  <thead>
  <tr>
    <th>ID</th>
    <th>Product Name</th>
    <th>Product Price</th>
    <th>Product Link</th>
  </tr>
  </thead>
  <tbody>
  <tr th:each="wishlist : ${wishlists}">
    <td th:text="${wishlist.wishlists_id}"></td>
    <td th:text="${wishlist.product_name}"></td>
    <td th:text="${wishlist.product_price}"></td>
    <td><a th:href="${wishlist.product_link}" target="_blank" th:text="${wishlist.product_link}">Link</a></td>
  </tr>
  </tbody>
</table>
</body>
</html>